### Importer les bibliotheques

In [23]:
import pandas  as pd
import requests
import json
import os
from dotenv import load_dotenv
import sqlite3

from datetime import datetime

In [22]:
# Charger le fichier .env
load_dotenv()

True

### on fait un teste pour verfier si le KEY est bien charger ou pas

In [24]:
# Récupérer la clé
api_key = os.getenv("OPENWEATHER_API_KEY")

# Vérifier que la clé est bien chargée
if not api_key:
    raise ValueError("Clé API OpenWeather non trouvée !")

# Exemple d'URL pour Paris
url = f"https://api.openweathermap.org/data/2.5/weather?q=Paris&units=metric&lang=fr&appid={api_key}"

print(url)  # juste pour vérifier que l'URL est correcte

https://api.openweathermap.org/data/2.5/weather?q=Paris&units=metric&lang=fr&appid=9f3aa91a700f53160b04433c00a8e448

In [25]:
# Liste des villes
villes = [
    "Paris", "Lyon", "Marseille", "Toulouse", "Nice",
    "Bordeaux", "Lille", "Nantes", "Strasbourg", "Montpellier",
    "Rennes", "Grenoble", "Dijon", "Avignon", "Reims", "Metz",
]


# Créer une liste pour stocker les résultats
donnees_meteo = []


# Boucle sur chaque ville
for ville in villes:
    url = f"https://api.openweathermap.org/data/2.5/weather?q={ville}&units=metric&lang=fr&appid={api_key}"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        # Extraire les infos utiles
        ville_data = {
            "ville": ville,
            "temp": data["main"]["temp"],
            "humidity": data["main"]["humidity"],
            "description": data["weather"][0]["description"],
            "wind_speed": data["wind"]["speed"],
            "date_releve": datetime.now() 
        }
        donnees_meteo.append(ville_data)
    else:
        print(f"Erreur pour la ville {ville}: {response.status_code}")

# Convertir en DataFrame pour nettoyage et manipulation
df_meteo = pd.DataFrame(donnees_meteo)
df_meteo

,ville,temp,humidity,description,wind_speed,date_releve
0,Paris,1.57,87,ciel dégagé,3.60,2025-11-21 19:41:37.753814
1,Lyon,-1.16,84,couvert,0.89,2025-11-21 19:41:37.854054
2,Marseille,2.28,62,couvert,2.24,2025-11-21 19:41:37.955108
3,Toulouse,2.99,81,nuageux,7.72,2025-11-21 19:41:38.061109
4,Nice,-4.33,69,légères chutes de neige,2.86,2025-11-21 19:41:38.170855
5,Bordeaux,5.15,70,ciel dégagé,3.09,2025-11-21 19:41:38.284357
6,Lille,-0.20,94,brume,2.06,2025-11-21 19:41:38.398460
7,Nantes,4.96,65,ciel dégagé,1.54,2025-11-21 19:41:38.503077
8,Strasbourg,-1.11,74,ciel dégagé,3.23,2025-11-21 19:41:38.610075
9,Montpellier,5.83,47,ciel dégagé,8.75,2025-11-21 19:41:38.718721
10,Rennes,4.80,70,ciel dégagé,2.57,2025-11-21 19:41:38.822716
11,Grenoble,-7.46,86,chutes de neige,2.33,2025-11-21 19:41:38.925716
12,Dijon,0.85,86,ciel dégagé,4.63,2025-11-21 19:41:39.025716
13,Avignon,3.79,59,ciel dégagé,12.35,2025-11-21 19:41:39.129487
14,Reims,0.88,93,ciel dégagé,3.60,2025-11-21 19:41:39.229328
15,Metz,-0.62,74,ciel dégagé,1.54,2025-11-21 19:41:39.330784

### Analyser le dataframe

In [26]:
# voir les types de données
df_meteo.dtypes

ville                  object
temp                  float64
humidity                int64
description            object
wind_speed            float64
date_releve    datetime64[ns]
dtype: object

In [28]:
# Créer ou connecter à la base SQLite
conn = sqlite3.connect("meteo.db")
cursor = conn.cursor()

In [33]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS meteo (
    ville TEXT,
    temp REAL,
    humidity INTEGER,
    description TEXT,
    wind_speed REAL,
    date_releve TEXT
)
""")
conn.commit()

In [34]:
for _, row in df_meteo.iterrows():
    cursor.execute("""
    INSERT INTO meteo (ville, temp, humidity, description, wind_speed, date_releve)
    VALUES (?, ?, ?, ?, ?, ?)
    """, (
        row['ville'],
        row['temp'],
        row['humidity'],
        row['description'],
        row['wind_speed'],
        row['date_releve'].strftime("%Y-%m-%d %H:%M:%S")  # convertir datetime en texte
    ))

conn.commit()

In [35]:
conn.close()
print("Données météo insérées avec succès dans la base SQL !")

Données météo insérées avec succès dans la base SQL !

### Test

In [36]:
import sqlite3
import pandas as pd

# Se connecter à la base SQLite
conn = sqlite3.connect("meteo.db")

In [ ]:
# Lire toutes les données de la table "meteo"
df = pd.read_sql_query("SELECT * FROM meteo", conn)

# Afficher les 10 premières lignes
df.head()

         ville  temp  humidity              description  wind_speed  \
0        Paris  1.57        87              ciel dégagé        3.60
1         Lyon -1.16        84                  couvert        0.89
2    Marseille  2.28        62                  couvert        2.24
3     Toulouse  2.99        81                  nuageux        7.72
4         Nice -4.33        69  légères chutes de neige        2.86
5     Bordeaux  5.15        70              ciel dégagé        3.09
6        Lille -0.20        94                    brume        2.06
7       Nantes  4.96        65              ciel dégagé        1.54
8   Strasbourg -1.11        74              ciel dégagé        3.23
9  Montpellier  5.83        47              ciel dégagé        8.75

           date_releve
0  2025-11-21 19:42:02
1  2025-11-21 19:42:02
2  2025-11-21 19:42:02
3  2025-11-21 19:42:02
4  2025-11-21 19:42:02
5  2025-11-21 19:42:02
6  2025-11-21 19:42:02
7  2025-11-21 19:42:02
8  2025-11-21 19:42:02
9  2025-11-21 19:42:02